body {
	padding-left:10px;
	padding-right:10px;
	font-family: Arial;
}

textarea {
	width:90%;
	height:300px;
	resize: none;
}

button {
	width:90%;
	height:50px;
	font-size: 1.8em;
}

#noteText{
	/* This neeeds to be !important because we have to
		overwride the JQuery mobile textarea settings
	*/
	height: 250px !important;
}

.swipe-out .delete-btn {
  padding: 6px 8px;
  background-color: red;
  color: #fff;
  text-shadow: none;
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	border-bottom: solid 1px rgb(224,224,224);
	padding: 20px;
}

/* email client */
li {
	padding: 0px 25px 5px 33px;
}

h1 {
	font-size: 18px;
}

h1, li p {
	margin: 0;
}